<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopyfy | Your Orders</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="h-screen bg-gray-100 py-12 sm:py-16 lg:py-20">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-center">
                <h1 class="text-2xl font-semibold text-gray-900">Your Orders</h1>
            </div>

            <div class="mx-auto mt-8 max-w-2xl md:mt-12">
                <div class="bg-white shadow">
                    <div class="px-4 py-6 sm:px-8 sm:py-10">
                        <div class="flow-root">
                            <ul class="-my-8">
                                {{#each products}}
                                <li
                                    class="flex flex-col space-y-3 py-6 text-left sm:flex-row sm:space-x-5 sm:space-y-0">
                                    <div class="shrink-0">
                                        <img class="h-24 w-24 max-w-full rounded-lg object-cover" src="{{this.image}}"
                                            alt="" />
                                    </div>

                                    <div class="relative flex flex-1 flex-col justify-between">
                                        <div class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                                            <div class="pr-8 sm:pr-5">
                                                <p class="text-base font-semibold text-gray-900">{{this.title}}</p>
                                                <p class="mx-0 mt-1 mb-0 text-sm text-gray-400">{{this.variant}}</p>
                                            </div>

                                            <div
                                                class="mt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                                                <p
                                                    class="shrink-0 w-20 text-base font-semibold text-gray-900 sm:order-2 sm:ml-8 sm:text-right">
                                                    {{this.price}}
                                                </p>

                                                <div class="sm:order-1">
                                                    <div class="mx-auto flex h-8 items-stretch text-gray-600">
                                                        <button
                                                            class="flex items-center justify-center rounded-l-md bg-gray-200 px-4 transition hover:bg-black hover:text-white"
                                                            disabled>-</button>
                                                        <div
                                                            class="flex w-full items-center justify-center bg-gray-100 px-4 text-xs uppercase transition">
                                                            {{this.quantity}}</div>
                                                        <button
                                                            class="flex items-center justify-center rounded-r-md bg-gray-200 px-4 transition hover:bg-black hover:text-white"
                                                            disabled>+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="mt-6 flex items-center justify-between">
                            <p class="class component">Total</p>
                            <p class="class component">
                                <span class="class component">{{orderTotal}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>